# Python
__pycache__/
*.py[cod]
*.sqlite3
*.env
*.venv
.env
.venv/

# macOS
.DS_Store

# Django
db.sqlite3
/media/profiles/

# VS Code
.vscode/

# Migrations (optionnel)
**/migrations/
!*/migrations/__init__.py
# secrets
.env
*.env
.env.*

# secrets
.env
*.env
.env.*

# secrets
.env
*.env
.env.*
