body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0faff;
}

/* #main-content {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
} */
 a {
    color: #000000;
    text-decoration: none;
 }

.navbar {
    background-color: #527970;
    color: white;
    padding: 1rem !important;
    display: flex;
    align-items: center !important;
    justify-content: flex-start !important;
}
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: flex-start;
}
.navbar-logo {
    font-size: 1.55rem;
    font-weight: bold;
    color: #ffffff;
}
.navbar-menu {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin-top: revert;
}
.navbar-menu li a {
    color: white;
    text-decoration: none;
}
.navbar-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
}

footer {
    background-color: #527970;
    color: white;
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: auto;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
}